<!--<div class="head-title">
  <h2>Today News</h2>
  <app-date></app-date> 
</div> -->
<div class="contain">


<!-- Banner Start  -->
<div class="head-contain">
    <div id="carouselExampleDark"class="carousel carousel-dark slide"data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000"*ngFor="let h of  topheadingDisplay; let i = index"[ngClass]="{ active: i === 1 }">
          <div class="img-gradient">
            <img class="carousel-image" src="{{h.urlToImage}}">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <a id="corousel-title-button" href="{{h.url}}">{{ h.title }}</a>
          </div>
        </div>
      </div>
     
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>  
      </div>
      <!-- Banner End-->
      <div class="top-Cardcontainer">
        <!--Meteo-->
        <app-meteonews></app-meteonews>
         <!--Meteo-->
        
        <!--Top News Card-->
        <div class="card-container">
          <div class="card" *ngFor="let d of topheadingDisplay.slice(0,3); let i = index">
              <a  href="{{d.url}}" target="_blank"><img class="card-image" src="{{d.urlToImage}}"></a>
              <div class="title-container"><h5 class="title">{{d.title}}</h5></div>
          
          </div>
        </div>
        <!--End Top News Card-->

      </div>
    </div>
    <div Class="health-enter">
      <app-healthnews></app-healthnews>
      <app-entertainmentnews></app-entertainmentnews>

    </div>
  <!-- banner end  -->
   
    <!--General News Card-->
  <app-generalnews></app-generalnews>
</div>