img
{
    width: 100%;
    height: auto;
}
h1
{
    color:#e50914;
    font-weight: bold;
}
h2
{
    color:white;
    font-weight: bold;
}
p
{
    color: white;
}
a
{
    background-color: #e50914;
    color: white;
    text-decoration: none;
}
a:hover
{
    background-color: #fc101c;
    color: white; 
}