<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.Consectetur libero eveniet,delectus assumenda
        temporibus ullam, earum est illum harum corporis odit similique possimus dolores exercitationem doloribus 
        illo animi doloremque dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident corporis 
        aut inventore nesciunt odio ipsam quisquam, magnam magni dolor harum natus eum suscipit tenetur 
        repudiandae veritatis aperiam debitis est.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente odio ullam nostrum labore eum magnam 
        voluptates commodi, id cum sit cupiditate architecto enim, nam soluta dignissimos tempora non quis dolores.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis dignissimos vitae cupiditate odio 
        eveniet aliquid officia aperiam quia sit sint culpa nostrum, ratione, facilis sunt, officiis animi quas cumque.
        <br/>
    </p>

</div>